@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles for dark mode */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-900 text-gray-200; /* Dark background, light text */
}

/* You can add custom base styles or component overrides here if needed */